.contenedor {
    text-align: center;
  }

  .contenedor {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 300px; /* Altura de ejemplo para el contenedor */
  }
  

#boton {
    position: absolute;
    top: 230px;
    left: 400px;
  }
#imagen-boton{
    display: block;
    border-radius: 100%;
    width: 40%;
    border-style: none;
}
     

