body{
<<<<<<< HEAD
    background-image:url(fotos/gigaafonde.jpg);
    background-position: center;
    background-size: cover;
}
=======
    background-image:url(/fotos/gigaafonde.jpg);
    background-position: center;
}
>>>>>>> 6c379ef6b2c6a3d7778e1f5e3f52ccb94629bbc7
